/* General */

body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Oxygen", sans-serif;
  background-color: #ece3ce;
  background-image: url("/assets/images/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
.navbar {
  background-color: #3a4d39;
  padding-top: 0px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(236, 227, 206, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#menu {
  line-height: 70%;
}

#logo {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

#menu li,
#logo {
  padding: 0 15px;
  font-size: 190%;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 10px;
}

#menu a,
#logo {
  text-decoration: none;
  color: #ece3ce;
  transition: all 0.2s ease-in-out;
}

#menu .active {
  color: #9ac398;
}

#menu a:hover {
  text-decoration: underline;
}

/* ZenBot Section */

.zenbot-container {
  height: 80vh;
  border-radius: 20px;
}

.welcome {
  font-family: "Josefin Sans", sans-serif;
}

.output {
  height: 100%;
  border: 1px solid #739072;
  border-radius: 20px;
  overflow: auto;
  font-size: 1.2rem;
  font-family: "Oxygen", sans-serif;
  padding: 1rem;
}

/* Crew page */
h1 {
  color: #ece3ce;
  text-align: center;
  margin: 20px;
  font-family: "Josefin Sans", sans-serif;
}

div.banner {
  background: #3a4d39;
  margin: 0 auto auto;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 1px solid #ece3ce;
  margin-top: 15px;
  font-size: 110%;
  letter-spacing: 1px;
}

img {
  width: 100%;
  height: 100%;
}

.card-icon {
  color: #3a4d39;
  font-size: 25px;
  margin: 5px;
}

.card-title {
  font-weight: bolder;
}

/* Footer */

footer {
  background-color: #3a4d39;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  font-size: 110%;
  color: #ece3ce;
  letter-spacing: 1px;
}

.crew-footer {
  text-decoration: none;
  color: #ece3ce;
}

.crew-footer:hover {
  text-decoration: underline;
  color: #ece3ce;
}

/* Toolbox Page */
.resource-container {
  background-color: #fff;
  border-radius: 10px;
}

.resource-container h1 {
  color: #3a4d39;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

h3 {
  text-align: center;
  color: #3a4d39;
  text-transform: uppercase;
  margin-top: 15px;
}

.resource-img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.resource-img:hover {
  opacity: 0.5;
}

.column {
  float: left;
  padding: 15px;
}

.content {
  width: 100%;
}